<h2>Questions</h2>
    <div class="span12">
        <div class="pagination">
        <ul>
            <li class="previous">
                <a class="prev-slide" href="#" title="Next">
                    <img src="images/previous.png">
                </a>
            </li>
            <% for(var i = 0; i < data.questions.length+2; i++){ %>
                <li class="pagination-button hidden-phone" style="display: none;" data-page="<%= i+1 %>">
                    <a><%= i+1 %></a>
                </li>
            <% } %>
            <li class="next">
                <a class="next-slide">
                    <img src="images/next.png">
                </a>
            </li>
        </ul>
        </div>
<div class="span12 questions">
    <div class="slide">
        <input type="text" id="user-first-name" placeholder="Name" class="quiz-name span3">
    </div>
    <% for(var i = 0; i < data.questions.length; i++){ %>
        <% var question = data.questions[i]; %>
        <div class="slide">
            <h4><%= question.text %></h4>
            <span><%= question.help %></span>
            <div class="answers">
                <% for(var k = 0; k < question.answers.length; k++){ %>
                    <label class="radio">
                        <input type="radio" name="<%= question.id %>" id="" data-xvalue="<%= question.answers[k].x %>" data-yvalue="<%= question.answers[k].y %>" data-zvalue="<%= question.answers[k].z %>" data-toggle="radio">
                        <%= question.answers[k].text %>
                    </label>
                <% } %>
            </div>
        </div>
    <% } %> 
    <div class="slide">
        <button id="send-result-button" class="btn btn-large btn-success">Get Result!</button>
    </div>
</div>
